extends layout

block favicon
  link(rel="shortcut icon" href="/red-favicon.png?v=1" type="image/x-icon")

block navigator
  .grid12_12
    a.crump(href="/")= __("toIndex")

block content
  .grid12_12
    ul
      li
        a.subhead-font(href="/admin/uploadAndEdit")= __("uploadAndEdit")
      li
        a.subhead-font(href="/admin/manageAlbums")= __("manageAlbums")
