extends layout

block favicon
  link(rel="shortcut icon" href="/red-favicon.png?v=1" type="image/x-icon")

block navigator
  .navigation
    .crump
      a(href="/")= __("toIndex")

block content
  .grid12_12
    .largeLink
      a(href="/admin/uploadAndEdit")= __("uploadAndEdit")
    .largeLink
      a(href="/admin/manageAlbums")= __("manageAlbums")
