extends layout

block favicon
  link(rel="shortcut icon" href="/red-favicon.png?v=1" type="image/x-icon")

block navigator
  .navigation
    .crump
      a(href="/")= __("ToIndex")

block content
  .actionBlock
    button.action= __("UploadAndEdit")
  .actionBlock
    button.action= __("ManageAlbums")
