extends layout

block content

  .largeLink
    a Фото по поездкам
  .largeLink
    a Избранные фото Люды
  .largeLink
    a Избранные фото Вовы

  .footer
    dl
      dd
        a(href="/admin")= __("adminDashboard")
