extends layout

block content
  .catalog.grid12_12
    ul
      li
        a.subhead-font Фото по поездкам
      li
        a.subhead-font Избранные фото Люды
      li
        a.subhead-font Избранные фото Вовы

block footer
  .footer.grid12_12
      a.caption-font(href="/admin")= __("adminDashboard")
