extends layout

block content

  .catalog.grid12_12
    ul
      each val in albumTree
        li
          a(href="/photos/#{val.id}").subhead-font=val.label

block footer
  .footer.grid12_12
      a.caption-font(href="/admin")= __("adminDashboard")
