extends layout

block content

  //.grid12_12
  //  .display-font Съешь же ещё этих мягких французских булок, да выпей чаю.
  //  .headline-font Съешь же ещё этих мягких французских булок, да выпей чаю.
  //  .subhead-font Съешь же ещё этих мягких французских булок, да выпей чаю.
  //  .title-font Съешь же ещё этих мягких французских булок, да выпей чаю.
  //  .body-font Съешь же ещё этих мягких французских булок, да выпей чаю.
  //  .button-font Съешь же ещё этих мягких французских булок, да выпей чаю.

  .catalog.grid12_12
    ul
      li
        a.subhead-font Фото по поездкам
      li
        a.subhead-font Избранные фото Люды
      li
        a.subhead-font Избранные фото Вовы

block footer
  dl
    dd
      a(href="/admin")= __("adminDashboard")
