extends layout

block content

  .catalog
    a Фото по поездкам
  .catalog
    a Избранные фото Люды
  .catalog
    a Избранные фото Вовы

  .footer
    dl
      dd
        a(href="/admin")= __("AdminDashboard")
