extends layout

block content

  .catalog.grid12_12
    .largeLink
      a Фото по поездкам
    .largeLink
      a Избранные фото Люды
    .largeLink
      a Избранные фото Вовы

block footer
  dl
    dd
      a(href="/admin")= __("adminDashboard")
