include ./mixins.jade
doctype html

html
  head
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title= title
    link(rel='stylesheet' href='/layout.css')
    block favicon
      link(rel="shortcut icon" href="/favicon.png?v=1" type="image/x-icon")

    block styles
    block scripts
  body
    .decorator
      .container
        .header.grid12_12
          h1.headline-font= title

        .navigation
          block navigator

        block content

        .footer
          block footer