doctype html

html
  head
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title= title
    link(rel='stylesheet' href='/layout.css')
    block favicon
      link(rel="shortcut icon" href="/favicon.png?v=1" type="image/x-icon")

    block styles
    block scripts
  body
    .content
      .menu
        h1= title
        block navigator
      block content