doctype html

meta(name="viewport" content="width=device-width, initial-scale=1")

html
    head
        title= __("IndexTitle")
        link(rel='stylesheet', href='/layout.css')
    body
        .content
            h1= __("IndexTitle")
            block content