doctype html

meta(name="viewport" content="width=device-width, initial-scale=1")

html
    head
        title= title
        link(rel='stylesheet', href='/layout.css')
    body
        .content
            block navigator
            h1= title
            block content