body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:340px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:20px;
  top:20px;
  width:225px;
  height:37px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:37px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:20px;
  top:117px;
  width:112px;
  height:28px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:28px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:20px;
  top:155px;
  width:180px;
  height:28px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:28px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:20px;
  top:199px;
  width:320px;
  height:28px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:28px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:20px;
  top:249px;
  width:193px;
  height:28px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:28px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:20px;
  top:297px;
  width:182px;
  height:28px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:28px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:204px;
  top:67px;
  width:135px;
  height:28px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:28px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:20px;
  top:67px;
  width:174px;
  height:28px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:28px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  white-space:nowrap;
}
