body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:599px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:20px;
  top:67px;
  width:174px;
  height:28px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:28px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:204px;
  top:67px;
  width:107px;
  height:28px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:28px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:20px;
  top:142px;
  width:579px;
  height:48px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-size:20px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:579px;
  height:48px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:579px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:20px;
  top:190px;
  width:101px;
  height:24px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-size:20px;
  text-decoration:underline;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:24px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:20px;
  top:20px;
  width:551px;
  height:37px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:551px;
  height:37px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:551px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:21px;
  top:240px;
  width:299px;
  height:30px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  height:30px;
}
#u11 {
  position:absolute;
  left:2px;
  top:7px;
  width:295px;
  word-wrap:break-word;
}
