body
  font: 14px Verdana, Geneva, sans-serif
  color: black
  background: #e2e2e2
  margin: 0 40px 0 40px
  padding: 0

.content
  background: white
  padding: 12px 24px 0 24px

h1
  font-size: 36px
  font-weight: normal
  padding: 1px 0 6px 0
  margin: 0 0 20px 0

.catalog
  margin-bottom: 40px
  a
    color: #666
    font-size: 26px
    text-decoration: none

.footer
  color: #949494
  font-size: 13px
  border-top: 1px solid #ccc
  margin: 15px auto 0
  padding-top: 30px
  padding-bottom: 30px
  a
    color: #6da3bd
    font-size: 11px
    text-decoration: none