@import "mixins"

*
  margin 0
  padding 0
  box-sizing border-box

html
  font-size 62.5%
  height 100%
  background desktopColor

body
  body-font()
  height 100%
  background desktopColor

.display-font
  display-font()

.headline-font
  headline-font()

.subhead-font
  subhead-font()

.title-font
  title-font()

.caption-font
  caption-font()

.body-font
  body-font()

.primary-body-font
  body-font(primaryColor)

.button-font
  button-font()

.decorator
  decorator(10px, gap / 2)
  background paperColor
  min-height 100%

.container
  container()
  display inline-block

input
  body-font()
  user-select-none()
  border none
  background-image: linear-gradient(primaryColor,primaryColor);
  background-size: 100% 2px;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-color: transparent;
  &.ng-invalid-required
    background-image: linear-gradient(errorColor,errorColor);

ul
  list-style-type none
  border none
li
  margin-left gap

.catalog
  li
    vertical-align middle
    height 48px
    line-height 48px

.footer
  border-top 1px solid desktopColor
  margin-top 20px
  padding-top 20px

.crump
  caption-font()
  padding-left 8px
  padding-right 8px
  &::after
    content " ›"

.subheader
  margin-top (24px/2)

.flat-button
  button-outer(bodyColor, paperColor)

.primary-button
  button-outer(paperColor, primaryColor)

.action-icon-up
  action-icon()
  &::after
    content "↑"
.action-icon-down
  action-icon()
  &::after
    content "↓"
.action-icon-left
  action-icon()
  &::after
    content "←"
.action-icon-right
  action-icon()
  &::after
    content "→"