@import "font"
@import "border-radius"
@import "box-shadow"
@import "user-select"

*
  margin: 0
  padding: 0
  box-sizing: border-box

html
  height: 100%

body
  font(14px, black)
  height: 100%
  color: black
  background: #e2e2e2

.content
  width: 970px
  height: 100%
  background: white
  padding: 12px 24px 0 24px

  margin-right: auto
  margin-left: auto

h1
  font(36px, black)
  padding: 1px 0 6px 0
  margin-bottom: 20px

.catalog
  margin-bottom: 40px
  a
    font(26px, #666)
    text-decoration: none

.footer
  font(13px, #949494)
  border-top: 1px solid #ccc
  margin: 15px auto 0
  padding-top: 30px
  padding-bottom: 30px
  dd
    margin-bottom: 5px;
  a
    font(11px, #6da3bd)

.navigation
  text-align: center;
  height: 32;
  a
    font(26px, #666)

.action

  font(12px, #282828)
  user-select-none()

  border-radius(6px)
  box-shadow-inset(0, 1px, 1px, #fff)
  border: 1px solid #d9d8d8;

  cursor: pointer
  display: inline-block
  line-height: 26px
  vertical-align: middle

  padding: 0 10px
  background-color: #eee;
  transition-duration: .2s;

  &:hover
    background-color: #fcfcfc;
  &:active
    background-color: #e1e1e1;
    box-shadow-inset(0, 1px, 1px, #d9d8d8)