* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
  background: #e2e2e2;
}
body {
  font: 14px Verdana, Geneva, sans-serif;
  color: #000;
  font-weight: normal;
  text-decoration: none;
  height: 100%;
  color: #000;
  background: #e2e2e2;
}
.content {
  width: 970px;
  height: 100%;
  background: #fff;
  padding: 12px 24px 0 24px;
  margin-right: auto;
  margin-left: auto;
}
.menu {
  margin-bottom: 20px;
}
h1 {
  font: 36px Verdana, Geneva, sans-serif;
  color: #000;
  font-weight: normal;
  text-decoration: none;
  padding: 1px 0 6px 0;
}
.catalog {
  margin-bottom: 40px;
}
.catalog a {
  font: 26px Verdana, Geneva, sans-serif;
  color: #666;
  font-weight: normal;
  text-decoration: none;
  text-decoration: none;
}
.footer {
  font: 13px Verdana, Geneva, sans-serif;
  color: #949494;
  font-weight: normal;
  text-decoration: none;
  border-top: 1px solid #ccc;
  margin: 15px auto 0;
  padding-top: 30px;
  padding-bottom: 30px;
}
.footer dd {
  margin-bottom: 5px;
}
.footer a {
  font: 11px Verdana, Geneva, sans-serif;
  color: #6da3bd;
  font-weight: normal;
  text-decoration: none;
}
.navigation .crump {
  display: inline-block;
  padding: 5px 15px 5px 15px;
  background: #eaecea;
}
.navigation .crump a {
  font: 16px Verdana, Geneva, sans-serif;
  color: #666;
  font-weight: normal;
  text-decoration: none;
}
.navigation .crump a::after {
  content: " >>";
}
.actionBlock {
  padding-top: 20px;
  padding-bottom: 10px;
}
.action {
  font: 12px Verdana, Geneva, sans-serif;
  color: #282828;
  font-weight: normal;
  text-decoration: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: none;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: inset 0 1px 1px #fff;
  -moz-box-shadow: inset 0 1px 1px #fff;
  box-shadow: inset 0 1px 1px #fff;
  border: 1px solid #d9d8d8;
  cursor: pointer;
  display: inline-block;
  line-height: 26px;
  vertical-align: middle;
  padding: 0 10px;
  background-color: #eee;
}
.action:hover {
  background-color: #fcfcfc;
}
.action:active {
  background-color: #e1e1e1;
  -webkit-box-shadow: inset 0 1px 1px #d9d8d8;
  -moz-box-shadow: inset 0 1px 1px #d9d8d8;
  box-shadow: inset 0 1px 1px #d9d8d8;
}
