.grid12_1 {
  width: 60px;
}
.grid12_1,
.grid12_2,
.grid12_3,
.grid12_4,
.grid12_5,
.grid12_6,
.grid12_7,
.grid12_8,
.grid12_9,
.grid12_10,
.grid12_11,
.grid12_12 {
  display: inline-block;
  float: left;
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
}
.grid12_2 {
  width: 140px;
}
.grid12_3 {
  width: 220px;
}
.grid12_4 {
  width: 300px;
}
.grid12_5 {
  width: 380px;
}
.grid12_6 {
  width: 460px;
}
.grid12_7 {
  width: 540px;
}
.grid12_8 {
  width: 620px;
}
.grid12_9 {
  width: 700px;
}
.grid12_10 {
  width: 780px;
}
.grid12_11 {
  width: 860px;
}
.grid12_12 {
  width: 940px;
}
.shift12_1 {
  padding-left: 80px;
}
.shift12_2 {
  padding-left: 160px;
}
.shift12_3 {
  padding-left: 240px;
}
.shift12_4 {
  padding-left: 320px;
}
.shift12_5 {
  padding-left: 400px;
}
.shift12_6 {
  padding-left: 480px;
}
.shift12_7 {
  padding-left: 560px;
}
.shift12_8 {
  padding-left: 640px;
}
.shift12_9 {
  padding-left: 720px;
}
.shift12_10 {
  padding-left: 800px;
}
.shift12_11 {
  padding-left: 880px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  height: 100%;
  background: #dedede;
}
body {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 20px;
  line-height: 2rem;
  color: #212121;
  font-weight: 300;
  text-decoration: none;
  margin-bottom: 10px;
  margin-bottom: 1rem;
  display: inline-block;
  height: 100%;
  background: #dedede;
}
.display-font {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 34px;
  font-size: 3.4rem;
  line-height: 40px;
  line-height: 4rem;
  color: #757575;
  font-weight: 300;
  text-decoration: none;
  margin-bottom: 20px;
  margin-bottom: 2rem;
  display: inline-block;
}
.headline-font {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 24px;
  font-size: 2.4rem;
  line-height: 32px;
  line-height: 3.2rem;
  color: #212121;
  font-weight: 300;
  text-decoration: none;
  margin-bottom: 16px;
  margin-bottom: 1.6rem;
  display: inline-block;
}
.subhead-font {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 24px;
  line-height: 2.4rem;
  color: #212121;
  font-weight: 300;
  text-decoration: none;
  margin-bottom: 12px;
  margin-bottom: 1.2rem;
  display: inline-block;
}
.title-font {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 20px;
  font-size: 2rem;
  line-height: 28px;
  line-height: 2.8rem;
  color: #212121;
  font-weight: 400;
  text-decoration: none;
  margin-bottom: 14px;
  margin-bottom: 1.4rem;
  display: inline-block;
}
.caption-font {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 12px;
  font-size: 1.2rem;
  line-height: 28px;
  line-height: 2.8rem;
  color: #757575;
  font-weight: 300;
  text-decoration: none;
  margin-bottom: 14px;
  margin-bottom: 1.4rem;
  display: inline-block;
}
.body-font {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 20px;
  line-height: 2rem;
  color: #212121;
  font-weight: 300;
  text-decoration: none;
  margin-bottom: 10px;
  margin-bottom: 1rem;
  display: inline-block;
}
.primary-body-font {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 20px;
  line-height: 2rem;
  color: #2196f3;
  font-weight: 300;
  text-decoration: none;
  margin-bottom: 10px;
  margin-bottom: 1rem;
  display: inline-block;
}
.button-font {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 20px;
  line-height: 2rem;
  color: #212121;
  font-weight: 400;
  text-decoration: none;
  letter-spacing: 0.1px;
  letter-spacing: 0.01rem;
  text-transform: uppercase;
}
.decorator {
  width: 980px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 10px;
  background: #fff;
  min-height: 100%;
}
.container {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
}
input {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 20px;
  line-height: 2rem;
  color: #212121;
  font-weight: 300;
  text-decoration: none;
  margin-bottom: 10px;
  margin-bottom: 1rem;
  display: inline-block;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: none;
  border: none;
  background-image: linear-gradient(#2196f3, #2196f3);
  background-size: 100% 2px;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-color: transparent;
}
input.ng-invalid-required {
  background-image: linear-gradient(#f00, #f00);
}
ul {
  list-style-type: none;
  border: none;
}
li {
  margin-left: 20px;
}
.catalog li {
  vertical-align: middle;
  height: 48px;
  line-height: 48px;
}
.footer {
  border-top: 1px solid #dedede;
  margin-top: 20px;
  padding-top: 20px;
}
.crump {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 12px;
  font-size: 1.2rem;
  line-height: 28px;
  line-height: 2.8rem;
  color: #757575;
  font-weight: 300;
  text-decoration: none;
  margin-bottom: 14px;
  margin-bottom: 1.4rem;
  display: inline-block;
  margin-left: 8px;
}
.crump::after {
  content: " ›";
}
.subheader {
  margin-top: 12px;
}
.flat-button {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 20px;
  line-height: 2rem;
  color: #212121;
  font-weight: 400;
  text-decoration: none;
  letter-spacing: 0.1px;
  letter-spacing: 0.01rem;
  text-transform: uppercase;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: none;
  border: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  height: 36px;
  line-height: 36px;
  padding-left: 8px;
  padding-right: 8px;
  margin-left: -8px;
  margin-right: 11px;
  transition-duration: 100ms;
  min-width: 60px;
  background: #fff;
}
.flat-button:hover {
  background: #e6e6e6;
}
.flat-button:active {
  background: #ccc;
}
.flat-button[disabled] {
  background: #fff;
  color: #909090;
  cursor: auto;
}
.primary-button {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 20px;
  line-height: 2rem;
  color: #fff;
  font-weight: 400;
  text-decoration: none;
  letter-spacing: 0.1px;
  letter-spacing: 0.01rem;
  text-transform: uppercase;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: none;
  border: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  height: 36px;
  line-height: 36px;
  padding-left: 8px;
  padding-right: 8px;
  margin-left: -8px;
  margin-right: 11px;
  transition-duration: 100ms;
  min-width: 60px;
  background: #2196f3;
  margin-left: 0;
}
.primary-button:hover {
  background: #0d89ec;
}
.primary-button:active {
  background: #0b7ad1;
}
.primary-button[disabled] {
  background: #90cbf9;
  color: #fff;
  cursor: auto;
}
.action-icon-up {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 20px;
  line-height: 2rem;
  color: #212121;
  font-weight: 400;
  text-decoration: none;
  letter-spacing: 0.1px;
  letter-spacing: 0.01rem;
  text-transform: uppercase;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: none;
  border: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  height: 36px;
  line-height: 36px;
  padding-left: 8px;
  padding-right: 8px;
  margin-left: -8px;
  margin-right: 11px;
  transition-duration: 100ms;
  background: #fff;
  width: 36px;
}
.action-icon-up:hover {
  background: #e6e6e6;
}
.action-icon-up:active {
  background: #ccc;
}
.action-icon-up[disabled] {
  background: #fff;
  color: #909090;
  cursor: auto;
}
.action-icon-up::after {
  content: "↑";
}
.action-icon-down {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 20px;
  line-height: 2rem;
  color: #212121;
  font-weight: 400;
  text-decoration: none;
  letter-spacing: 0.1px;
  letter-spacing: 0.01rem;
  text-transform: uppercase;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: none;
  border: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  height: 36px;
  line-height: 36px;
  padding-left: 8px;
  padding-right: 8px;
  margin-left: -8px;
  margin-right: 11px;
  transition-duration: 100ms;
  background: #fff;
  width: 36px;
}
.action-icon-down:hover {
  background: #e6e6e6;
}
.action-icon-down:active {
  background: #ccc;
}
.action-icon-down[disabled] {
  background: #fff;
  color: #909090;
  cursor: auto;
}
.action-icon-down::after {
  content: "↓";
}
.action-icon-left {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 20px;
  line-height: 2rem;
  color: #212121;
  font-weight: 400;
  text-decoration: none;
  letter-spacing: 0.1px;
  letter-spacing: 0.01rem;
  text-transform: uppercase;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: none;
  border: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  height: 36px;
  line-height: 36px;
  padding-left: 8px;
  padding-right: 8px;
  margin-left: -8px;
  margin-right: 11px;
  transition-duration: 100ms;
  background: #fff;
  width: 36px;
}
.action-icon-left:hover {
  background: #e6e6e6;
}
.action-icon-left:active {
  background: #ccc;
}
.action-icon-left[disabled] {
  background: #fff;
  color: #909090;
  cursor: auto;
}
.action-icon-left::after {
  content: "←";
}
.action-icon-right {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 20px;
  line-height: 2rem;
  color: #212121;
  font-weight: 400;
  text-decoration: none;
  letter-spacing: 0.1px;
  letter-spacing: 0.01rem;
  text-transform: uppercase;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: none;
  border: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  height: 36px;
  line-height: 36px;
  padding-left: 8px;
  padding-right: 8px;
  margin-left: -8px;
  margin-right: 11px;
  transition-duration: 100ms;
  background: #fff;
  width: 36px;
}
.action-icon-right:hover {
  background: #e6e6e6;
}
.action-icon-right:active {
  background: #ccc;
}
.action-icon-right[disabled] {
  background: #fff;
  color: #909090;
  cursor: auto;
}
.action-icon-right::after {
  content: "→";
}
