body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:441px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:20px;
  top:20px;
  width:140px;
  height:37px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:37px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:20px;
  top:67px;
  width:174px;
  height:28px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:28px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:20px;
  top:320px;
  width:421px;
  height:28px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:28px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:20px;
  top:242px;
  width:264px;
  height:28px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:28px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:20px;
  top:204px;
  width:212px;
  height:28px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:28px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:20px;
  top:130px;
  width:217px;
  height:28px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:28px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:97px;
  top:10px;
  width:683px;
  height:560px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:683px;
  height:560px;
}
#u13 {
  position:absolute;
  left:2px;
  top:272px;
  width:679px;
  visibility:hidden;
  word-wrap:break-word;
}
