.display-font {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 34px;
  font-size: 3.4rem;
  line-height: 40px;
  line-height: 4rem;
  color: #757575;
  font-weight: 300;
  text-decoration: none;
  margin-bottom: 20px;
  margin-bottom: 2rem;
  display: inline-block;
}
.headline-font {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 24px;
  font-size: 2.4rem;
  line-height: 32px;
  line-height: 3.2rem;
  color: #212121;
  font-weight: 300;
  text-decoration: none;
  margin-bottom: 16px;
  margin-bottom: 1.6rem;
  display: inline-block;
}
.subhead-font {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 24px;
  line-height: 2.4rem;
  color: #212121;
  font-weight: 300;
  text-decoration: none;
  margin-bottom: 12px;
  margin-bottom: 1.2rem;
  display: inline-block;
}
.title-font {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 20px;
  font-size: 2rem;
  line-height: 28px;
  line-height: 2.8rem;
  color: #212121;
  font-weight: 400;
  text-decoration: none;
  margin-bottom: 14px;
  margin-bottom: 1.4rem;
  display: inline-block;
}
.caption-font {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 12px;
  font-size: 1.2rem;
  line-height: 20px;
  line-height: 2rem;
  color: #757575;
  font-weight: 300;
  text-decoration: none;
  margin-bottom: 10px;
  margin-bottom: 1rem;
  display: inline-block;
}
.body-font {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 20px;
  line-height: 2rem;
  color: #212121;
  font-weight: 300;
  text-decoration: none;
}
.button-font {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 20px;
  line-height: 2rem;
  color: #212121;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
}
.flat-button {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 20px;
  line-height: 2rem;
  color: #212121;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  height: 36px;
  line-height: 36px;
  min-width: unit;
  padding-left: 8px;
  padding-right: 8px;
  margin-left: 5px;
  margin-right: 5px;
  background: #fff;
}
.flat-button:hover {
  background: #e6e6e6;
}
.flat-button:active {
  background: #ccc;
}
.primary-button {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 20px;
  line-height: 2rem;
  color: #fff;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  height: 36px;
  line-height: 36px;
  min-width: unit;
  padding-left: 8px;
  padding-right: 8px;
  margin-left: 5px;
  margin-right: 5px;
  background: #2196f3;
}
.primary-button:hover {
  background: #0c7cd5;
}
.primary-button:active {
  background: #0960a5;
}
