flat-button()
  button-font()
  user-select-none()
  border-radius(3px)
  cursor pointer
  display inline-block
  vertical-align middle
  height 36px
  min-width 64px
  padding-left 8px
  padding-right 8px
  margin-left 4px
  margin-right 4px

  border none
  background lightness(black, 100%)
  &:hover
    background lightness(black, 87%)
  &:active
    background lightness(black, 54%)

raised-button()
  flat-button()
  box-shadow-1()

.flat-button
  flat-button()

.raised-button
  raised-button()
