@import "colors"
@import "font"

button-core()
  user-select-none()
  border none
  border-radius(3px)
  cursor pointer
  display inline-block
  text-align center
  vertical-align middle
  height 36px
  line-height 36px
  padding-left 8px
  padding-right 8px
  margin-left -8px
  margin-right 3px + 8px

button-outer(fontColor, backColor)
  button-font(fontColor)
  button-core()
  transition-duration 100ms
  min-width unit
  background backColor
  &:hover
    background darken(backColor, 10%)
  &:active
    background darken(backColor, 20%)
  &[disabled]
    background lighten(backColor, 50%)
    color lighten(fontColor, 50%)
    cursor auto

action-icon(fontColor = bodyColor, backColor = paperColor)
  button-font(fontColor)
  button-core()
  transition-duration 100ms
  background backColor
  width 36px
  &:hover
    background darken(backColor, 10%)
  &:active
    background darken(backColor, 20%)
  &[disabled]
    background lighten(backColor, 50%)
    color lighten(fontColor, 50%)
    cursor auto
