@import "colors"

font(sp, lh, weight, color, inlineBlock = true)
  font-family Verdana, Geneva, sans-serif
  font-size (sp) px
  font-size (sp / 10) rem
  line-height (lh) px
  line-height (lh / 10) rem
  color color
  font-weight weight
  text-decoration none
  margin-bottom (lh / 2) px if inlineBlock
  margin-bottom (lh / 20) rem if inlineBlock
  display inline-block if inlineBlock

display-font()
  font(34, 40, 300, displayColor)

headline-font()
  font(24, 32, 300, bodyColor)

subhead-font()
  font(16, 24, 300, bodyColor)

title-font()
  font(20, 28, 400, bodyColor)

caption-font()
  font(12, 28, 300, displayColor)

body-font(fontColor = bodyColor)
  font(14, 20, 300, fontColor, true)

button-font(fontColor = bodyColor)
  font(14, 20, 400, fontColor, false)
  text-transform uppercase




