@import "../mixins"

div[data-angular-treeview] li
  user-select-none()
  :hover
    color hoverLinkColor

div[data-tree-model] li
  span
    subhead-font(false)
    button-core()
    &:hover
      background lightness(paperColor, lightness(paperColor) - 10%)
    &:active
      background lightness(paperColor, lightness(paperColor) - 20%)

div[data-tree-model] li .expanded
  padding-left gap
  background-image url("folder.png")
  background-repeat no-repeat
  cursor pointer

div[data-tree-model] li .collapsed
  padding-left gap
  background-image url("folder-closed.png")
  background-repeat no-repeat
  cursor pointer

div[data-tree-model] li .normal
  padding-left gap
  background-image url("album.png")
  background-repeat no-repeat

div[data-tree-model] li .selected
  color primaryColor


