@import "../mixins"

div[data-tree-model] li
  padding-left gap
  span
    cursor pointer
    min-width unit
    subhead-font()

div[data-tree-model] li .expanded
  padding-left gap
  background-image url("folder.png")
  background-repeat no-repeat
  cursor pointer

div[data-tree-model] li .collapsed
  padding-left gap
  background-image url("folder-closed.png")
  background-repeat no-repeat
  cursor pointer

div[data-tree-model] li .normal
  padding-left gap
  background-image url("album.png")
  background-repeat no-repeat

div[data-tree-model] li .selected
  color primaryColor


