body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:828px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:20px;
  top:110px;
  width:710px;
  height:350px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:710px;
  height:350px;
}
#u1 {
  position:absolute;
  left:2px;
  top:167px;
  width:706px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:20px;
  top:20px;
  width:292px;
  height:37px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:37px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:203px;
  top:66px;
  width:135px;
  height:28px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:28px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:140px;
  top:470px;
  width:100px;
  height:30px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u7 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:348px;
  top:66px;
  width:167px;
  height:28px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:28px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:525px;
  top:66px;
  width:303px;
  height:28px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:28px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:510px;
  top:470px;
  width:100px;
  height:30px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u13 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:20px;
  top:524px;
  width:78px;
  height:16px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:16px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:20px;
  top:550px;
  width:710px;
  height:32px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:710px;
  height:32px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:710px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:20px;
  top:640px;
  width:135px;
  height:30px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:30px;
}
#u19 {
  position:absolute;
  left:2px;
  top:7px;
  width:131px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:20px;
  top:680px;
  width:630px;
  height:512px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:630px;
  height:512px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:630px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:325px;
  top:470px;
  width:100px;
  height:30px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u23 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:20px;
  top:67px;
  width:174px;
  height:28px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:28px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:90px;
  top:600px;
  width:200px;
  height:22px;
}
#u26_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:22px;
  background-image:none;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u27 {
  position:absolute;
  left:20px;
  top:603px;
  width:49px;
  height:16px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:16px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u29 {
  position:absolute;
  left:325px;
  top:596px;
  width:100px;
  height:30px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u30 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
